.centered-text {
  text-align: center;
}

.myimage {
   text-align: center;
   height: auto;
   max-width: 90%
}

.mydiv {
	border-right: 1px solid #DDD;
    line-height: 40pt;
    font-family:'Tahoma';
    font-size: 15pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
}





